.calendar-block {
    padding-top: 50px;
}
.toplevel_page_new_vr_calendar {
    background: #999 !important;
}
form .input input[type="checkbox"] + label[data-v-1f0280cf]:before {
    top: 6px;
}
.vdp-datepicker__calendar header .prev,
.vdp-datepicker__calendar header .next {
    text-indent: inherit !important;
}
.wp-core-ui .button {
    border: none !important;
    padding: 0 !important;
    height: auto !important;
    line-height: inherit !important;
    background: transparent !important;
    font-size: 18px;
    box-shadow: none;
}
@media only screen and (max-width: 1100px) {
    .calendar-block .left-block,
    .calendar-block .right-block {
        width: 100% !important;
    }
    .calendar-block .right-block {
        padding: 50px 0 0 !important;
    }
}
@media only screen and (max-width: 480px) {
    .vdp-datepicker header + div {
        padding: 30px 15px !important;
    }
    .vdp-datepicker .cell.day,
    .vdp-datepicker .cell.day-header {
        font-size: 14px !important;
    }
    .vdp-datepicker header {
        height: 60px !important;
    }
    .vdp-datepicker header .day__month_btn {
        padding: 0px 20px !important;
        font-size: 18px !important;
    }
    form .input-promo[data-v-1f0280cf],
    form .select-block[data-v-1f0280cf] {
        width: 100% !important;
    }
    form .select-block[data-v-1f0280cf] {
        margin-right: 0 !important;
    }
    form .button input[type="submit"][data-v-1f0280cf] {
        width: 100% !important;
    }
    .wp-core-ui .button {
        width: 100% !important;
    }
}
