.vrb {
	display: block;
	float: none;
	clear: both;
	margin: 30px 0 60px 0;
}
.vrb * {
	outline: none !important;
}
.vrl {
	display: block;
	width: 25%;
	height: 250px;
	float: left;
}
.vrr {
	display: block;
	width: 75%;
	height: 250px;
	float: right;
}
.vrh {
	height: 30px;
	display: block;
	padding: 5px 0;
}
.vrhour {
	display: inline-block;
	padding: 6px 8px;
	margin: 0 1px;
	background: white;
	border: 1px solid #ddd;
	text-decoration: none;
	color: #333;
}
.vrh_avail {
	background: #d5f573;
	border: 1px solid #d5f573;
	color: white;
}
.vrh_busy {
	background: #f5798a;
	border: 1px solid #f5798a;
	color: white;
}